*{
  font-family: monospace;
}
body{
  background: aqua;
  height: 100vh;
  width: 90%;
}
h1{
  text-align: center;
  width: 100%;
}
::placeholder{
  color: blue;
  opacity: .5;
}
.btn{
  background: green;
  color: white;
  border: 1px double black;
  border-radius: 5px;
  padding: .5em;
}
textarea{
  width: 100%;
  resize: none;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}
