*{
  font-family: monospace;
}
body{
  background: antiquewhite;
}
::placeholder{
  color: black;
}
button{
  background: transparent;
  border: 1px double black;
  border-radius: 5px;
}
textarea{
  resize: none;
}
